/*Estilos Generales*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    margin: 0;
    background: black;
}


.main {
    padding-top: 3rem;
    background: #bbbbbb;
}

/* Encabezado */
.header {
    background-color:#85d4b7;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1001;
}

nav a:hover{
     background: #89ECD1;
    border-radius: 50px;
}

a {
    font-family: Calibri
        color: black;
}

.Contenido {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
}

.logo2 {
    width: 0px;
    visibility: collapse;
}

.contenedor-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.opcionesEncabezados ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.opcionesEncabezados ul li{
    display: inline-block;
}

.opcionesEncabezados ul li a {
    display: block;
    transition: all, 0.4s linear;
    border-radius: 5px;
}

/* Carrusel y contenidos */
#catalogoImagenes {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 25px;
    padding-bottom: 0px;
    background: white;
}

.carousel-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.item {
    display: flex;
    justify-content: center;
}

.item img{
    width:600px;
    height: 10px;
}


/* Barra con información */
.franjaInferior{
    background-color: #6dccaa;
    display: flex;
    vertical-align: center;
    justify-content: space-between;
    font-family: Calibri, Verdana, monospace;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
}

.franjaInferior .space{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 15px;
}

/* Contenido bajo la barra de información */
#contenedor2 {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
    font-family: Calibri;
    background: white;
}

#contenedor2 img{
    width: 300px;
    height: 180px;
    border-radius: 10px;
    border-style: double;
}

.columnaIzq {
	width: 50%;
	padding: 20px;
    text-align: right;
}

.columnaIzq hr {
    margin-left: 0;
    display: inline-block;
}

.columnaDer {
	width: 50%;
	padding: 20px;
    text-align: left;
}

#contenedor2 h4
{
    font-family: monospace;
    color: gray;
}

#contenedor2 hr{
    border-style: groove;
    width: 20%;
}


/* Para Tabla del collage y contenido*/
#tablaCollage {
    display: flex;
    justify-content: space-around;
    background: #85d4b7;
    padding: 10px;
}

#tablaCollage .item_collage{
    height: auto;
    width: auto;
    display: inline-flex;
    justify-content: center;
    padding: 10px;
}

#tablaCollage img{
    cursor: pointer;
}

.arriba img{
    width: 185px;
    height: 125px;
}

.abajo img{
    width: 145px;
    height: 185px;
}

/* MODAL PARA BOTON */
.modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__img {
    height: 100%;
}

.modal__boton {
    width: 50px;
    height: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    font-family: monospace;
    line-height: 50px;
    text-align: center;
    background: red;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

/* Estilos para página contacto.html*/
#formulario {
    background: white;
    font-family: Calibri, Verdana;
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    padding: 40px;
    padding-left: 15%;
}

#formulario h3{
    font-family: fantasy;
    padding-left: 23%
}

#tablaFormulario{
    font-family: Calibri, Verdana;
    font-size: 18px;
    padding-top: 10px;
    width: 80%;
    background: rgb(0,0,0,0.2);
    border-radius: 30px;
}

#tablaFormulario td{
    padding: 15px;
}

.opcionCasa{
    width: 15px;
    text-align: center
}

.columna1{
    text-align: right;
}

.columna2 {
    align-content: center;
}

#rut {
    width: 162px;
}

#rut2 {
    width: 28px;
}

.columna2 input{
    width: 200px;
}

.columna2 select{
    width: 200px;
}

#botonEnviar{
    text-align: center;
}

#botonEnviar button{
    width: 104px;
}

/* Pie de Página */
footer {
	background:#e6e6e6;
	padding:1px;
    font-family: Calibri;
}

footer h3{
    display: flex;
    justify-content: center;
    font-size: 18px;
}


@media screen and (max-width: 850px) {
	.contenedor {
		flex-direction:column;
	}

	header {
		flex-direction:column;
		padding:0;
	}

	header .logo {
		margin:10px;
    }

    .logo2 {
        width: 70px;
        visibility: visible;
        cursor: pointer;
    }

    header nav {
        position: absolute;
        top: 60px;
        left: -100%;
        list-style: none;
        width: 100%;
        transition: all 0.4s;
    }

    .opcionesEncabezados ul li a{
        font-size: 12px;
        color: white;
    }

    .opcionesEncabezados ul li a img{
        height: 60px;
    }

    .opcionesEncabezados ul li{
        display: contents;
    }

    .opcionesEncabezados ul{
        background: rgb(1,1,1,0.6);
        width: 60%;
    }

    .mostrar {
        left: 0;
    }

    .franjaInferior{
        background-color:;
        display: block;
        vertical-align: center;
        justify-content: space-between;
        font-family: Calibri, Verdana, monospace;
        color: white;
        padding: 1px;
    }

    .franjaInferior h3{
        font-size: 17px;
        text-align: center;
    }

    .franjaInferior .space{
        display: flex;
        justify-content: center;
        padding-top: 15px;
        list-style: none;
    }

    #contenedor2 {
        display: block;
    }

    #contenedor2 img{
        width: 200px;
        height: 120px;
    }

    .columnaIzq {
        width: 100%;
    }

    .columnaDer {
        width: 100%;
    }

    #contenedor2 h4{
        font-family: monospace;
        color: gray;
        font-size: 13px;
    }

    #contenedor2 hr{
        border-style: groove;
        width: 20%;
    }

    #contenedor2 h1{
        font-size: 22px;
    }

    #contenedor2 p{
        text-align: justify;
    }

    #formulario {
    background: white;
    font-family: Calibri, Verdana;
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    padding: 40px;
    padding-left: 5%
}

}

@media screen and (max-width: 600px) {
	footer {
		justify-content:space-around;
	}
}
