*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background-color:black;
}

.header {
    background-color:#85d4b7;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1001;
}

.Contenido {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.contenedor-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.opcionesEncabezados ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.opcionesEncabezados ul li{
    display: inline-block;
}

.opcionesEncabezados ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all, 0.4s linear;
    border-radius: 5px;
}

#catalogoImagenes {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 25px;
    padding-bottom: 1rem;
}

.carousel-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.item {
    display: flex;
    justify-content: center;
}

.item img{
    width:600px;
    height: 10px;
}

.main {
    padding-top: 3rem;
    background: #6dccaa;
}

.franjaInferior{
    background-color: #6dccaa;
    display: flex;
    justify-content: space-between;
}


#formulario {
    display: flex;
    justify-content: center;
    background: #6dccaa;
    font-family: Calibri, Verdana;
}

#formulario table {
    width: 600px;
    background: rgb(1,1,1,0.2);

}

#formulario th{
    text-align: center;
    font-size: 20pt;
    padding-top: 10px;
    padding-bottom: 10px;
}

#formulario td {
    padding-bottom: 9px;
}


.header2{
    position: fixed;
    height: 100px;
}
.header2 .logo{
    line-height: 100px;
    font-size: 30px;

}

a {
    font-family: Calibri;
}

nav a:hover{
     background: #89ECD1;
    border-radius: 50px;
}


#segundologo{
    width: 100%;
    background-color: #6dccaa;
    display: flex;
    align-items: center;
    justify-content: center;
}





.contenedor3{
    background-color:#6dccaa;
}

#contenedor3{
        background-color:#6dccaa;
    width: 100%;
    height: 60%;
    }

#Collageperros{
    background: #6dccaa;
}


.numero {
    font-family: Calibri;
    color: white;
    padding-left: 40px;
}

.informacion {
    font-family: Calibri;
    color: white;
}

.contenedor {
	background:#ccc;
	width:90%;
	max-width:100px;
	margin:auto;


	/* Flexbox */
	display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}

.contenedor > div{
    width: 50%;
    padding: 10px;
    background: white;
    justify-content: center;
}

.contenedor > div:first-child {
    margin-right: 20px;
}

#contenedor2 {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
    font-family: Calibri;
}

#contenedor2 img{
    height: 120px;
}

.columnaIzq {
	width: 50%;
	padding: 20px;
    text-align: right;
}

.columnaIzq hr {
    margin-left: 0;
    display: inline-block;
}

.columnaDer {
	width: 50%;
	padding: 20px;
    text-align: left;
}

#contenedor2 h4
{
    font-family: monospace;
    color: gray;
}

#contenedor2 img{
    width: 50%;
}

#contenedor2 hr{
    border-style: groove;
    width: 20%;
}


aside {
	background:#e67e22;
	padding:20px;
	/*FLEX*/
	flex:1 1 30%;
	/*flex:0 0 300px;*/

	display: flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content:flex-start;
}

aside .widget {
	background: #d35400;
	height:150px;
	margin:10px;
}

footer {
	background:#e6e6e6;
    color: dimgray;
	width: 100%;
	padding:20px;
    font-family: Calibri;

	/* Flexbox */
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

footer .links {
	background:#c0392b;
	display:flex;
	flex-wrap:wrap;
}

footer .links a {
	flex-grow:1;

	color:#fff;
	padding:10px;
	text-align: center;
	text-decoration:none;
}

footer .links a:hover {
	background:#E74C3C;
}

footer .social {
	background:#e67e22;
}

footer .social a {
	color:#fff;
	text-decoration: none;
	padding:10px;
	display: inline-block;
}

@media screen and (max-width: 850px) {
	.contenedor {
		flex-direction:column;
	}

	header {
		flex-direction:column;
		padding:0;
	}

	header .logo {
		margin:0;
	}

	header nav {
		width: 100%;
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        width: 100px;
        display: none;

	}

	aside {
		flex-direction:row;
		flex:0;
	}

	aside .widget {
		flex-grow:1;
	}
}

@media screen and (max-width: 600px) {
	aside {
		flex-direction:column;
	}

	footer {
		justify-content:space-around;
	}
}
