{% extends 'base/base.html' %}

{% block title %}Mis Perris - Login {% endblock %}
{% block navbar %}
{% endblock %}
{% load staticfiles %}
{% block content %}

<div id="formulario2" class="define">
        
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}  
            <h3>Iniciar Sesión</h3>

            <table id="formNuevoPerro">
                
                <tr>
                    <td class="loginIzq">{{ form.username.label_tag }}</td>
                    <td class="loginDer">{{ form.username }}</td>
                </tr>
                  
                <tr>
                    <td class="loginIzq">{{ form.password.label_tag }}</td>
                    <td class="loginDer">{{ form.password }}</td>
                </tr>
                
                <tr>
                    <td colspan="2" class="loginCentro"><input type="submit" value="Iniciar Sesión" /></td>
                </tr>
                
                <tr>
                    <td colspan="2" class="loginCentro2">
                        <a href="{% url 'password_reset' %}">¿Olvido su contraseña?</a>
                    </td>
                </tr>
            </table>
        </form>
      </div>
      

   
{% endblock %}
