{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Estilo Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleRegistro.css' %}">

    <!-- Otros estilos -->
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>

    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>

    <!-- JavaScript's -->
    <script language="JavaScript" type="text/javascript" src=" {% static 'js/lib.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/chile.js' %}"></script>

    <!-- Icono título de la página + Título-->
    <link rel="shortcut icon" href="{$ static 'iconos/perrito.png' %}">
    <title>{% block title%} Mis Perris {% endblock %}</title>

</head>
<body>
    <!-- Encabezado -->
    <header class="header">

        <!-- Logo Empresa -->
        <div class="Contenido contenedor-logo" >
            <a href="#" class="logo"><img src="{% static 'imagenes/logo.png' %}" height="35px"></a>
            <a id="logo2" class="logo2" onclick="muestraMenu();"><img src="{% static 'iconos/appbar.list.png' %}"></a>

            <!-- Menu Principal -->
            <nav id="menuDesplegable" class="opcionesEncabezados">
                <ul>
                    <li><a href="{% url 'index' %}"><img src="{% static 'iconos/home.png' %}">INICIO</a></li>
                    <li><a href="{% url 'nuevaPersona' %}"><img src="{% static 'iconos/grupo.png' %}">QUIENES SOMOS</a></li>
                    <li><a href="{% url 'nuevoPerro' %}"><img src="{% static 'iconos/pata.png' %}">SERVICIOS</a></li>
                    <li><a href="{% url 'contacto' %}"><img src="{% static 'iconos/buscagrupo.png' %}">CONTACTO</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <hr>

    <!-- Cuerpo de la página -->
    <main class="main">

    {% block content %}
    {% endblock %}

    </main>


<!-- Pie de Página -->
<footer>
    <h3>Desarrollo web y móvil</h3>
</footer>

</body>
</html>