{% extends 'base/base.html' %}

{% block title %}Mis Perris - Registro Perros{% endblock %}

{% load staticfiles %}

{% block content %}
    
<div id="formulario2" class="define">
        
        <form method="POST">
            {% csrf_token %}
            
            <div class="define" id="mensajes">
                <h3>¿Desea Eliminar el registro de {{ perro.nombre }} ?</h3>
                <hr>
                <img id="fotoEliminado" src="{{ perro.fotografia.url }}">
                <hr>
                <button class="btnOK" type="submit">Si, Eliminar</button>
            </div>
        </form>
        <a class="btnNO" href="{% url 'registroPerros' %}">Cancelar</button>
    </div>

{% endblock %}