{% extends 'base/base.html' %}

{% block title %}Mis Perris - Inicio{% endblock %}

{% load staticfiles %}
{% block content %}

<main class="main">

    <div class="Contenido">

        <!-- Contenedor del Carrusel Principal -->
        <div id="catalogoImagenes">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">

                <!-- Contenedor de Imagenes del Carrusel -->
                <div class="carousel-inner">

                    <!-- Imagen I -->
                    <div class="item active">
                        <img src="{% static 'imagenes/adoptados/Apolo.jpg' %}">
                        <div class="carousel-caption">
                            <h3>Apolo</h3>
                            <p>Apolo, un gran perro familiarr.</p>
                        </div>
                    </div>

                    <!-- Imagen II-->
                    <div class="item">
                        <img class src="{% static 'imagenes/adoptados/Duque.jpg' %}">
                        <div class="carousel-caption">
                            <h3>Duque</h3>
                            <p>Duque, el perro genial.</p>
                        </div>
                    </div>

                    <!-- Imagen III-->
                    <div class="item">
                        <img class src="{% static 'imagenes/adoptados/Tom.jpg' %}">
                        <div class="carousel-caption">
                            <h3>Tom</h3>
                            <p>Este perro es Tom, un grande Tom.</p>
                        </div>
                    </div>
                </div>

                <!-- Controles para deslizar Izquierda y Derecha -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Anterior</span>
                </a>

                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Siguiente</span>
                </a>

            </div>
        </div>
    </div>

    <!-- Barra inferior al carrusel -->
    <div class="Contenido franjaInferior">
        <h3 class="numero">+569 98765431</h3>
        <h3 class="informacion">Rescate y adopción de perros callejeros</h3>

        <!-- Logos Redes Sociales -->
        <ul  class="space">
            <li>
                <a  href="https://www.facebook.com" target="_blank"><img alt="Siguenos en Facebook!" height="32" src="{% static 'iconos/facebook-32.png' %}" title="Siguenos en facebook!" width="30" HSPACE="30" VSPACE="30"/></a>
                <a  href="https://www.google.com" target="_blank"><img alt="Siguenos en Google+!" height="32" src="{% static 'iconos/google+-32.png' %}" title="Siguenos en Google+!" width="30" HSPACE="30" VSPACE="30"/></a>
                <a  href="https://www.instagram.com" target="_blank"><img alt="Siguenos en Instagram!" height="32" src="{% static 'iconos/instagram-32.png' %}" title="Siguenos en Instagram!" width="30" HSPACE="30" VSPACE="30"/></a><a href="https://www.gmail.com" target="_blank"><img alt="Envianos un correo" height="32" src="iconos/correo.png" title="Envianos un Correo!" width="30" HSPACE="30" VSPACE="30"/></a>
            </li>
        </ul>
    </div>

    <!-- Contenedor de articulos con imagenes -->
    <div class="Contenido" id="contenedor2">

        <!-- Columna Izquierda -->
        <div class="columnaIzq">
            <h1>RESCATE</h1>
            <h4>ETAPA UNO</h4>
            <hr/>
            <p>Rescatamos perros en situación de peligro y/o abandono. Los rehabilitamos y los preparamos para buscarles un hogar</p>
            <img class="rescate" src="{% static 'imagenes/rescate.jpg' %}">
        </div>

        <!-- Columna Derecha -->
        <div class="columnaDer">
            <img class="rescate" src="{% static 'imagenes/crowfunding.jpg' %}">
            <h1>CROWDEFUNDING</h1>
            <h4>FINANCIAMIENTO</h4>
            <hr>
            <p>Sigue nuestras redes sociales para informarte acerca de las diversas campañas y actividades que realizamos para obtener financiamiento para seguir ayudando.</p>
        </div>
    </div>

    <!-- Collage -->


    <table class="Contenido" id="tablaCollage">
        <tr>
            <td class="item_collage arriba"><img src="{% static 'imagenes/rescatados/Oso_tn.jpg' %}" alt="Oso" class="collage__img"/></td>
            <td class="item_collage arriba"><img src="{% static 'imagenes/rescatados/Wifi_tn.jpg' %}"/></td>
            <td class="item_collage arriba"><img src="{% static 'imagenes/rescatados/Luna_tn.jpg' %}"/></td>
            <td class="item_collage arriba"><img src="{% static 'imagenes/rescatados/Maya_tn.jpg' %}"/></td>
        </tr>
    </table>

    <table class="Contenido" id="tablaCollage">
        <tr>
            <td class="item_collage abajo"><img src="{% static 'imagenes/rescatados/Bigotes_tn.jpg' %}" class="collage__img" id="1"/></td>
            <td class="item_collage abajo"><img src="{% static 'imagenes/rescatados/Pexel_tn.jpg' %}" class="collage_img"/></td>
            <td class="item_collage abajo"><img src="{% static 'imagenes/rescatados/Chocolate_tn.jpg' %}" alt="Chocolate" class="collage_img"/></td>
        </tr>
    </table>

    </main>

{% endblock %}