{% extends 'base/base.html' %}

{% block title %}Mis Perris - Registro Persona{% endblock %}

{% load staticfiles %}

{% block content %}
    
    <div id="formulario2" class="define">

            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <h3>Formulario de Contacto</h3>

                <table id="formNuevoPerro">

                    <tr>
                        <td class="nuevoIzq">{{ form.rut.label_tag }}</td>
                        <td class="nuevoDer"> {{ form.rut }} {{ form.dv}}</td>
                    </tr>
                    <tr>
                        <td class="nuevoIzq">{{form.nombre.label_tag}}</td>
                        <td class="nuevoDer"> {{ form.nombre }}</td>
                    </tr>
                    <tr>
                        <td class="nuevoIzq">{{form.apellidos.label_tag}}</td>
                        <td class="nuevoDer"> {{ form.apellidos }}</td>
                    </tr>
                    <tr>
                        <td class="nuevoIzq">{{form.fechaNacimiento.label_tag}}</td>
                        <td class="nuevoDer"> {{ form.fechaNacimiento }} </td>
                    </tr>
                    <tr>
                        <td class="nuevoIzq">{{form.telefono.label_tag}}</td>
                        <td class="nuevoDer"> {{ form.telefono }} </td>
                    </tr>
                    <tr>
                        <td class="nuevoIzq">{{form.correo.label_tag}}</td>
                        <td class="nuevoDer"> {{ form.correo }} </td>
                    </tr>
                   
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="save btn btn-default">Registrar Perro</button>
                        </td>
                    </tr>
                </table>
            </form>

{% endblock %}